@import "../../shared";
@font-face {
    font-family: snowstorm;
    src: url("./font/Snowstorm.otf");
}
@font-face {
    font-family: lato_reg;
    src: url("./font/Lato-Regular.ttf");
}

.Text {
    font-family: lato_reg;
    padding: 0;// $border-content*1.5;
    margin:0;
    line-height:8px;

    @media (min-height: $bp-phone) {
        font-size:15px;
        //line-height:22px;
    }

    @media (min-height: $bp-phablet) {
        font-size:25px;
        line-height:20px;
        //line-height:24px;
    }

    @media (orientation: landscape) and (min-width: $bp-phablet) {
        font-size:25px;
        line-height:20px;
        //line-height:34px;
    }

    b {
        @media (min-height: $bp-phone) {
            font-size:16px;
            //line-height:22px;
        }

        @media (min-height: $bp-phablet) {
            font-size:26px;
            line-height:20px;
            //line-height:24px;
        }

        @media (orientation: landscape) and (min-width: $bp-phablet) {
            font-size:26px;
            line-height:20px;
            //line-height:34px;
        }
    }
}

.Titre {
    font-family: snowstorm;
    padding: 0;// $border-content*1.5;
    margin:0;
    line-height:10px;

    @media (min-height: $bp-phone) {
        font-size:20px;
        //line-height:22px;
    }

    @media (min-height: $bp-phablet) {
        font-size:40px;
        //line-height:24px;
    }

    @media (orientation: landscape) and (min-width: $bp-phablet) {
        font-size:40px;
        //line-height:34px;
    }
}